<h1>{{plan.name}}</h1>
{{#if plan.imagePlan}}
  <img src="{{plan.imagePlan}}" alt="Workout Motivation" width="300">
{{else}}
  <p>This plan doesn't have an image</p>
{{/if}}
<br>
<h4>Description: </h4>
<p>{{plan.description}}</p>
<ul>
    <li class="users-item">
        <a href="/fitness/one">Session One</a><br>
    </li><br>
    <li class="users-item">
        <a href="/fitness/two">Session Two</a><br>
    </li><br>
    <li class="users-item">
        <a href="/fitness/two">Session Three</a><br>
    </li><br>
</ul>

 


